.mainDiv {
  padding: 4em 4em 8em 4em;
}

.pageHeader {
  font-size: 32px;
  font-family: var(--headerFontFamily);
}

.textAndImageContainer {
  display: flex;
  justify-content: space-between;
}

.mainTextDiv {
  width: 50%;
  height: auto;
  /* margin-right: 80px; */
  line-height: 1.5;
  font-family: var(--mainTextFontFamily);
  font-size: 18px;
  letter-spacing: 1px;
}

.mainImage {
  width: 50%;
  height: 50%;
  margin-bottom: 20px;
}

.copyrightDisclaimerContainer {
  margin-top: 20px;
}

.copyright {
  font-family: var(--mainTextFontFamily);
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.disclaimer {
  font-family: var(--mainTextFontFamily);
  font-size: 0.75rem;
  letter-spacing: 1px;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 1440px) {
  .mainImage {
    width: 35%;
    height: 35%;
  }
}

@media screen and (max-width: 885px) {
  .mainDiv {
    padding-right: 4em;
    padding-left: 4em;
  }

  .textAndImageContainer {
    display: flex;
    flex-direction: column;
  }

  .mainTextDiv {
    width: 100%;
  }

  .mainImage {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
}

/* @media screen and (max-width: 590px) {
  .mainImage {
    width: 100%;
    height: 100%;
  }
} */

@media screen and (max-width: 408px) {
  .mainDiv {
    padding: 2em 4em 6em 4em;
    /* padding-bottom: 4em; */
  }

  .mainImage {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 320px) {
  .pageHeader {
    font-size: 26px;
  }

  .mainImage {
    width: 100%;
    height: 100%;
  }

  .mainTextDiv {
    font-size: 16px;
  }
}

@media screen and (max-width: 250px) {
  .pageHeader {
    font-size: 20px;
  }

  .mainImage {
    width: 100%;
    height: 100%;
  }
}
