.Success {
  text-align: center;
  /* color: blueviolet; */
}

.AppLogo {
  /* height: 35vmin; */
  width: 50%;
  height: auto;
  pointer-events: none;
  margin-right: 80px;
}

.AppHeader {
  letter-spacing: 1.5px;
  /* background-color: blueviolet; */
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
  padding-bottom: 3em;
}

.MainDiv2 {
  display: flex;
  /* justify-content: space-evenly; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  padding: 4em;
}

.PageNotFound {
  font-weight: 700;
}

.Message {
  text-align: center;
  font-size: 20px;
}

.Safety {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 6px 12px;
  background: transparent;
  color: #ffffff;
  width: 150px;
  height: 35px;
  border-style: solid;
  border-radius: 0;
  font-size: 15px;
  text-transform: uppercase;
}

.Safety:hover {
  background-color: #ffffff;
  transition-duration: 0.5s;
  color: var(--primaryDark);
  border-color: var(--primaryDark);
  outline: none;
}

.headerText {
  font-family: var(--headerFontFamily);
  font-size: 24px;
  font-weight: 700;
}

.subheaderText {
  font-family: var(--mainTextFontFamily);
  font-size: 18px;
}

.buttonContainer {
  margin-top: 20px;
}

.button {
  font-family: var(--headerFontFamily);
  /* font-size: 16px; */
  font-size: 14px;
  background: steelblue;
  border-color: steelblue;
  color: #ffffff;
  margin: 0 5px 15px 0;
  padding: 6px 12px;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  /* font-size: 1rem; */
  line-height: 1.5;
  border-radius: 0.25rem;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 1440px) {
  .AppLogo {
    width: 35%;
    height: auto;
    margin-right: 80px;
  }
}

@media screen and (max-width: 885px) {
  .AppHeader {
    padding-right: 2em;
    padding-left: 2em;
  }

  .MainDiv2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .AppLogo {
    width: 50%;
    height: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 590px) {
  .AppLogo {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 408px) {
  .AppHeader {
    padding: 2em 4em 6em 4em;
    /* padding-bottom: 4em; */
  }

  .MainDiv2 {
    padding: 0;
  }

  .AppLogo {
    width: 80%;
    height: auto;
  }

  .button {
    margin: 0 5px 5px 0;
  }
}

@media screen and (max-width: 320px) {
  .headerText {
    font-size: 18px;
  }

  .subheaderText {
    font-size: 12px;
  }

  .button {
    font-size: 10px;
  }
}

@media screen and (max-width: 250px) {
  .headerText {
    font-size: 16px;
  }
}
