.mainDiv {
  letter-spacing: 1.5px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 3em;
}

.innerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

.MainImage {
  width: 50%;
  height: auto;
  pointer-events: none;
  margin-right: 80px;
}

.headerText {
  font-family: var(--headerFontFamily);
  font-size: 24px;
  font-weight: 700;
}

.subheaderText {
  font-family: var(--mainTextFontFamily);
  font-size: 18px;
}

/* .buttonContainer {
  margin-top: 20px;
} */

.button {
  font-family: var(--headerFontFamily);
  font-size: 14px;
  background: steelblue;
  border-color: steelblue;
  color: #ffffff;
  margin: 0 5px 15px 0;
  padding: 6px 12px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 1440px) {
  .MainImage {
    width: 35%;
    height: auto;
    margin-right: 80px;
  }
}

@media screen and (max-width: 885px) {
  .mainDiv {
    padding-right: 2em;
    padding-left: 2em;
  }

  .innerDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .MainImage {
    width: 50%;
    height: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 590px) {
  .MainImage {
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 408px) {
  .mainDiv {
    padding: 2em 4em 6em 4em;
    /* padding-bottom: 4em; */
  }

  .innerDiv {
    padding: 0;
  }

  .MainImage {
    width: 80%;
    height: auto;
  }

  .button {
    margin: 0 5px 5px 0;
  }
}

@media screen and (max-width: 320px) {
  .headerText {
    font-size: 18px;
  }

  .subheaderText {
    font-size: 12px;
  }

  .button {
    font-size: 10px;
  }
}

@media screen and (max-width: 250px) {
  .headerText {
    font-size: 16px;
  }
}
