/* Sticky (But Not Fixed) Footer */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #000000;
  /* background-color: #1a2027; */
  text-align: center;
}
/* ========================= */

.footerText {
  /* font-family: 'Poppins', sans-serif; */
  font-family: var(--headerFontFamily);
  color: #ffffff;
  margin-top: 5px;
  font-size: 12.5px;
  letter-spacing: 1px;
}
