@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* GLOBAL VARIABLES */

/* :root {
  --headerFontFamily: 'Source Sans Pro', sans-serif;
  --mainTextFontFamily: 'Source Serif Pro', serif;
  --navbarColor: #24292f;
  --navbarTextColor: #ffffff;
  --navbarHoverBorderColor: #ffffff;
  --footerColor: #24292f;
  --FooterTextColor: #ffffff;
  --mainButtonColor: #24292f;
  --mainButtonTextColor: #ffffff;
  --textLinkColor: #0969da;
  --textLinkHoverColor: #ff7900;
  --postBadgeColor: #ff7900;
  --postBadgeTextColor: #ffffff;
} */

:root {
  --headerFontFamily: 'Source Sans Pro', sans-serif;
  --mainTextFontFamily: 'Source Serif Pro', serif;
  --navbarColor: #4682b4;
  --navbarTextColor: #ffffff;
  --navbarHoverBorderColor: #ffffff;
  --footerColor: #4682b4;
  --FooterTextColor: #ffffff;
  --mainButtonColor: #4682b4;
  --mainButtonTextColor: #ffffff;
  --mainButtonHoverColor: linear-gradient(rgb(0 0 0/15%) 0 0);
  --textLinkColor: #1976d2;
  --textLinkHoverColor: #ff7900;
  --postBadgeColor: #ff7900;
  --postBadgeTextColor: #ffffff;
}

/* Styles for Sticky (But Not Fixed) Footer */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}
/* End Styles for Sticky Footer */

html,
body {
  color: #1a2027;
  padding: 0;
  margin: 0;
  font-family: var(--mainTextFontFamily);
}

body {
  background-color: #f4f4f4;
  /* Need for footer: */
  position: relative;
  margin: 0;
  min-height: 100%;
}

h1 {
  font-family: var(--headerFontFamily);
}

a {
  color: inherit;
  text-decoration: none;
}
