@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* Styles for Sticky (But Not Fixed) Footer */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}
/* End Styles for Sticky Footer */

html,
body {
  color: #1a2027;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Source Serif Pro', serif;
}

body {
  background-color: #f4f4f4;
  /* Need for footer: */
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Fancybox - from [slug].js */

/* * {
  box-sizing: border-box;
}

button.carousel__button.is-next,
button.carousel__button.is-prev {
  position: fixed;
  top: 0;
}

.carousel__viewport,
button.carousel__button.is-next,
button.carousel__button.is-prev,
div.fancybox__counter,
button.carousel__button.fancybox__button--zoom,
.carousel__button.fancybox__button--slideshow,
.carousel__button.fancybox__button--fullscreen,
.carousel__button.fancybox__button--thumbs {
  display: none !important;
}

.Home_pImage__unofO:hover {
  text-decoration: none;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox__caption {
  font-family: 'Source Sans Pro', sans-serif;
} */
