.container {
  padding: 4em 12em 8em 12em;
}

.mainTitleContainer {
  margin-bottom: 4em;
}

.postContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.pageHeader {
  text-align: center;
}

.pageSubHeader {
  text-align: center;
  font-family: var(--headerFontFamily);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

/* Flexbox gap: https://css-tricks.com/almanac/properties/g/gap/ */
.searchComponentsContainer {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.searchInput,
.categorySelect {
  width: 300px;
  margin-bottom: 40px;
}

.text {
  margin: 5px 0;
}

.postLink {
  font-family: var(--headerFontFamily);
  font-size: 16px;
  background: var(--mainButtonColor);
  border-color: var(--mainButtonColor);
  color: var(--mainButtonTextColor);
  margin: 0 5px 20px 0;
  padding: 6px 12px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; */
  /* text-transform: capitalize; */
}

.postLink:hover {
  /* background-image: linear-gradient(rgb(0 0 0/10%) 0 0); */
  background-image: var(--mainButtonHoverColor);
}

.postLink:active {
  background: var(--mainButtonColor);
}

.dateText {
  font-family: var(--headerFontFamily);
  margin-bottom: 5px;
  color: #6c757d;
  font-size: 14.4px;
}

.mainImage {
  width: 35%;
  height: auto;
  float: right;
  margin-left: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.5px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card_body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  padding: 1.25rem 1.25rem 0 1.25rem;
}

.card_title {
  font-size: 24px;
  font-family: var(--headerFontFamily);
  font-weight: 700;
}

.card_text {
  line-height: 1.5;
  font-size: 18px;
}

.card_footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card_footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.badgeContainer {
  margin-bottom: 40px;
}

.tagBadge {
  display: inline-block;
  background-color: #f2f2f2;
  color: #292929;
  padding: 4px 8px;
  margin: 0 5px 5px 0;
  text-align: center;
  border-radius: 2em;
  font-size: 12px;
  font-family: var(--headerFontFamily);
}

/* ===== MEDIA QUERIES ===== */

/* https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Media_queries */
/* Make the padding 4em if the viewport is 980 pixels or narrower: */
@media screen and (max-width: 1082px) {
  .searchComponentsInnerDiv {
    width: 100%;
  }

  .searchInput,
  .categorySelect {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .container {
    padding: 4em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-bottom: 8em;
  }

  .pageHeader {
    font-size: 35px;
    font-family: var(--headerFontFamily);
  }

  .searchComponentsContainer {
    flex-direction: column;
  }

  .card_title {
    display: flex;
    flex-direction: column;
  }

  .mainImage {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 2em;
    padding-bottom: 6em;
  }

  .pageHeader {
    font-size: 22px;
  }
}
