.container {
  padding: 4em;
}

.postContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.text {
  /* padding: 3px; */
  margin: 5px 0;
}

.postTitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.postDescription {
  font-family: 'Source Sans Pro', sans-serif;
}

.postLink {
  font-family: 'Source Sans Pro', sans-serif;
  color: tomato;
  font-size: 18px;
}

.dateText {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.mainImage {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.box {
  background-color: #ffffff;
  border-color: #d0d7de;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  padding: 16px;
  padding-top: 0;
  width: 35%;
}

.badgeContainer {
  margin-bottom: 20px;
}

.tagBadge {
  display: inline-block;
  /* background-color: tomato; */
  background-color: #f2f2f2;
  /* color: white; */
  color: #292929;
  padding: 4px 8px;
  margin: 0 5px 0 0;
  text-align: center;
  border-radius: 2em;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 769px) and (max-width: 980px) {
  .box {
    width: 50%;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .box {
    width: 75%;
  }
}

@media screen and (min-width: 551px) and (max-width: 640px) {
  .box {
    width: 100%;
  }
}

@media screen and (min-width: 471px) and (max-width: 550px) {
  .box {
    width: 100%;
  }
}

@media screen and (min-width: 431px) and (max-width: 470px) {
  .box {
    width: 100%;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  .box {
    width: 100%;
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  .box {
    width: 100%;
  }
}
