/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap'); */

.brand {
  font-size: 20px;
}

.nav {
  height: 60px;
  padding: 10px 40px;
  background: #000;
  color: #fff;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Fira Code', monospace; */
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

/* Source: https://github.com/bradtraversy/next-crash-course */
