/* .container {
  padding: 0 2rem;
} */

/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.heroContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroImage {
  z-index: -10;
  position: relative;
  height: 450px;
  object-fit: contain;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroHeader {
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  font-family: var(--headerFontFamily);
  letter-spacing: 0.5px;
}

.heroHeaderSpan {
  display: inline-block;
  font-size: 42px;
}

/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
} */

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

/* .title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
} */

/* .title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
} */

/* .code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

/* .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
} */

/* .card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
} */

/* .logo {
  height: 1em;
  margin-left: 0.5rem;
} */

/* .box {
  background-color: #ffffff;
  border-color: #d0d7de;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  padding: 16px;
  width: 50%;
  margin-bottom: 20px;
} */

.postTitle {
  font-size: 42px;
}

.postAuthor {
  padding: 10px 0;
  font-size: 20px;
}

.pText {
  padding: 4em 12em;
  line-height: 1.8;
  font-size: 20px;
}

.pText a {
  color: tomato;
}

.pText a:hover {
  color: tomato;
  text-decoration: underline;
}

.description {
  font-family: var(--headerFontFamily);
  color: rgba(0, 0, 0, 0.6);
  /* font-size: 18px; */
}

/* Separator: https://stackoverflow.com/questions/46907903/three-dots-below-block-element */
.separator {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #1a2027;
  margin-bottom: 30px;
}

.separator::after {
  content: '...';
  font-size: 30px;
  display: block;
  text-align: center;
  letter-spacing: 20px;
}

.pImage {
  width: 80%;
  /* width: 100%; */
  height: auto;
}

.captionText {
  font-family: var(--headerFontFamily);
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.date {
  color: rgba(0, 0, 0, 0.6);
  /* font-size: 18px; */
}

.tagBadge {
  background-color: tomato;
  color: #ffffff;
  /* padding: 4px 8px; */
  padding: 6px 10px;
  margin: 0 5px;
  text-align: center;
  /* border-radius: 5px; */
  border-radius: 2em;
  font-size: 12px;
  font-family: var(--headerFontFamily);
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 769px) and (max-width: 980px) {
  .postTitleBox {
    padding: 0 8em;
  }

  .pText {
    /* background-color: red; */
    padding: 4em 8em 2em 8em;
  }

  .pImage {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .postTitleBox {
    padding: 0 2em;
  }

  .pText {
    padding: 4em 2em 2em 2em;
  }

  .pImage {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 551px) and (max-width: 640px) {
  .postTitleBox {
    padding: 0 2em;
  }

  .pText {
    padding: 4em 2em 2em 2em;
  }

  .pImage {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 471px) and (max-width: 550px) {
  .postTitleBox {
    padding: 0 2em;
  }

  .pText {
    padding: 4em 2em 2em 2em;
  }

  .pImage {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 431px) and (max-width: 470px) {
  .postTitleBox {
    padding: 0 2em;
  }

  .pText {
    padding: 4em 2em 2em 2em;
  }

  .pImage {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  .postTitleBox {
    padding: 0 2em;
  }

  .pText {
    padding: 4em 2em 2em 2em;
  }

  .pImage {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  .postTitleBox {
    padding: 0 2em;
  }

  .pText {
    padding: 4em 2em 2em 2em;
  }

  .pImage {
    width: 100%;
    height: auto;
  }
}
