.pImageContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  padding: 4em 12em 8em 12em;
}

.innerDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  text-align: center;
}

.dateContainer {
  margin-bottom: 50px;
  font-size: 20px;
}

.heroContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroImage {
  z-index: -10;
  position: relative;
  height: 450px;
  object-fit: contain;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroHeader {
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  font-family: var(--headerFontFamily);
  letter-spacing: 0.5px;
}

.heroHeaderSpan {
  display: inline-block;
  font-size: 42px;
}

.postTitle {
  font-size: 42px;
}

.postAuthor {
  padding: 10px 0;
  font-size: 20px;
}

.pText {
  line-height: 1.8;
  font-size: 20px;
}

.pText a {
  color: var(--textLinkColor);
}

.pText a:hover {
  color: var(--textLinkHoverColor);
  text-decoration: none;
}

.description {
  font-family: var(--headerFontFamily);
  color: rgba(0, 0, 0, 0.6);
}

.separator {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #1a2027;
  margin-bottom: 30px;
}

.separator::after {
  content: '...';
  font-size: 30px;
  display: block;
  text-align: center;
  letter-spacing: 20px;
}

.figure {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.pImage {
  width: 100%;
  height: auto;
}

.captionText {
  font-family: var(--headerFontFamily);
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.date {
  color: rgba(0, 0, 0, 0.6);
}

.tagBadge {
  background-color: var(--postBadgeColor);
  color: var(--postBadgeTextColor);
  padding: 6px 10px;
  margin: 0 5px;
  text-align: center;
  border-radius: 2em;
  font-size: 12px;
  font-family: var(--headerFontFamily);
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 980px) {
  .container {
    padding: 4em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-bottom: 8em;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 2em;
    padding-bottom: 8em;
  }
}
